__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
bandi.csv
bandi.json
bandi.ics
slices/
bandiradar-full.zip
*.log
